@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,700&display=swap');

/*font-family: 'Mulish', sans-serif;*/

body{
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    color: rgb(55, 55, 55);
}

h1{
    text-align: center;
    font-weight: 300;
}

.container{
    width: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
}

/*Draggable*/
#draggable {
    width: 150px; 
    height: 150px; 
    padding: 0.5em; 
    }

/*Draggable*/
.ui-draggable, .ui-droppable {
    background-position: top;
}

/*Owl Carousel*/
.owl-carousel .item{
    height: 10rem;
    background: #ffffff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.owl-carousel .item img{
    height: 10rem;
    width: auto;
}

.box{      
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background: white;
  }

    